* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif, Arial;
}
/* main container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*start page container*/
.start-container {
  display: block;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.start-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

/*quiz page container*/

.quiz-container {
  display: none;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quiz-container h2 {
  margin-bottom: 20px;
}
.question-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
/*result page container*/

.result-container {
  display: none;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result-container h1 {
  margin-bottom: 20px;
}

/*answer options container*/
.option-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: left;
}
.option-btn:hover {
  background-color: #f1f1f1;
  transition: 0.1s ease;
}

/*general elements*/

.primary-btn {
  padding: 10px 20px;
  color: white;
  background-color: #f6b400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #e0a401;
  transition: 0.3s ease;
}
.wrong {
  background-color: #ff4c4c;
  transition: 0.3s ease;
  color: white;
}
.correct {
  background-color: #4caf50;
  transition: 0.3s ease;
  color: white;
}
